@{
    Layout = "_HouseLayout";
}

@{
    ViewData["Title"] = "Houses Page";
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Houses</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/Allure real estate- silver logo-1.png" type="image/png">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800|Poppins:300,400,700">

    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/fonts.css">

    <link rel="stylesheet" href="css/site.css" id="main-styles-link">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>
</html>